ul:has(li > .accordion) {
  display: grid;
  gap: 1rem;
}
.accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-white);
  color: var(--color-secondary);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  font-size: var(--text-xl);
  font-weight: 600;
  transition: 0.4s;
}

.accordion svg {
  transition: transform 0.3s ease;
}
.accordion.active svg {
  transform: rotate(90deg);
}

.accordion.active {
  background-color: hsl(from var(--color-white) h s calc(l - 2));
    color: var(--color-black);
}

@media (hover: hover) {
  .accordion:hover {
    background-color: hsl(from var(--color-white) h s calc(l - 2));
    color: var(--color-black);
  }
}

.panel {
  font-size: var(--text-xs);
  color: var(--color-black);
  background-color: hsl(from var(--color-white) h s calc(l - 2));
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.panel p {
  padding: 10px 18px;
}